gfx/IMG_3FC8013C43DF-1.jpeg
gfx/IMG_7293042710EF-1.jpeg
P11_DA+Fiche+d'auto-évaluation.pdf
P11.code-workspace
gfx/.DS_Store
.DS_Store
notebooks/lpqc-analyse-exploratoire.html
notebooks/lpqc-analyse-exploratoire.pdf
notebooks/lpqc-clustering-visualisations.pdf
notebooks/lpqc-clustering-visualisations.html
reports/lpqc_presentation.key
